@using Microsoft.AspNetCore.Identity;
@inject SignInManager<UserAccounts> SignInManager
@inject UserManager<UserAccounts> UserManager
<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - CodeHub</title>
    <link href="https://fonts.gstatic.com" rel="preconnect">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link href="~/lib/bootstrap/dist/bootstrap-icons/bootstrap-icons.css" rel="stylesheet" />
    <link href="~/lib/bootstrap/dist/bootstrap-icons/bootstrap-icons.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/CodeHub.styles.css" asp-append-version="true" />
</head>
<body>
    <header id="header" class="header fixed-top d-flex align-items-center">

        <div class="d-flex align-items-center justify-content-between">
            <a href="index.html" class="logo d-flex align-items-center">
                <img width="40px" height="40px" src="~/icons/1326-command-window-line-outline.gif" />
                <span class="d-none d-lg-block">CodeHUB</span>
            </a>
            <i class="bi bi-list toggle-sidebar-btn"></i>
        </div><!-- End Logo -->

        <div class="search-bar">
            <form class="search-form d-flex align-items-center" method="POST" action="#">
                <input type="hidden" name="query" placeholder="Search" title="Enter search keyword">
                <button hidden type="submit" title="Search"><i class="bi bi-search"></i></button>
            </form>
        </div><!-- End Search Bar -->
        @if (SignInManager.IsSignedIn(User))
        {
            <nav class="header-nav ms-auto">
                <ul class="d-flex align-items-center">
                    @{var user = UserManager.FindByIdAsync(UserManager.GetUserId(User)).Result;}
                    <li class="nav-item d-block d-lg-none">
                        <a class="nav-link nav-icon search-bar-toggle " href="#">
                            <i class="bi bi-search"></i>
                        </a>
                    </li><!-- End Search Icon-->
                    <li class="nav-item dropdown pe-3">

                        <a class="nav-link nav-profile d-flex align-items-center pe-0" href="#" data-bs-toggle="dropdown">
                            <i class="bi bi-person-fill"></i>
                            <span class="d-none d-md-block dropdown-toggle ps-2">@user.Name</span>
                        </a><!-- End Profile Iamge Icon -->

                        <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile">                            
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li>
                                <form method="get" asp-action="UserProfile" asp-controller="UserAccount">
                                    <button type="submit" class="dropdown-item d-flex align-items-center" >
                                        <i class="bi bi-person"></i>
                                        <span>My Profile</span>
                                    </button>
                                </form>
                            </li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>                                                  
                            <li>
                                <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/", new { area = "" })" method="post">
                                <button type="submit" class="dropdown-item d-flex align-items-center">
                                    <i class="bi bi-box-arrow-right"></i>
                                    <span>Sign Out</span>
                                </button>
                                </form>
                            </li>

                        </ul><!-- End Profile Dropdown Items -->
                    </li><!-- End Profile Nav -->

                </ul>
            </nav><!-- End Icons Navigation -->
        }
        else
        {
            <nav class="header-nav ms-auto">

                <a class="btn btn-outline-secondary" style="margin-right: 5px;" href="~/Identity/Account/Login">Login</a>
                <a class="btn btn-outline-secondary" style="margin-right: 20px;" href="~/Identity/Account/Register">Register</a>
            </nav>
        }

    </header><!-- End Header -->
    <!-- ======= Sidebar ======= -->
    <aside id="sidebar" class="sidebar">

        <ul class="sidebar-nav" id="sidebar-nav">
            @if (!SignInManager.IsSignedIn(User))
            {
                <li class="nav-item">
                    @if (TempData["SelectNaveIteam"] != null && TempData["SelectNaveIteam"].ToString() == "Home")
                    {
                        <a class="nav-link" asp-action="Index" asp-controller="Home">
                            <i class="bi bi-grid"></i>
                            <span>Home</span>
                        </a>
                    }
                    else
                    {
                        <a class="nav-link collapsed" asp-action="Index" asp-controller="Home">
                            <i class="bi bi-grid"></i>
                            <span>Home</span>
                        </a>
                    }
                </li><!-- End Dashboard Nav -->
            }
            <li class="nav-item">
                @if (TempData["SelectNaveIteam"]!=null && TempData["SelectNaveIteam"].ToString() == "Question")
                {
                    <a class="nav-link " asp-action="Question" asp-controller="QuestionsManage">
                        <i class="bi bi-grid"></i>
                        <span>Questions</span>
                    </a>
                }
                else
                {
                    <a class="nav-link collapsed" asp-action="Question" asp-controller="QuestionsManage">
                        <i class="bi bi-grid"></i>
                        <span>Questions</span>
                    </a>
                }

            </li>
            <li class="nav-item">
                @if (TempData["SelectNaveIteam"] != null && (TempData["SelectNaveIteam"].ToString() == "java" || TempData["SelectNaveIteam"].ToString() == "python" || TempData["SelectNaveIteam"].ToString() == "c#" || TempData["SelectNaveIteam"].ToString() == "html"
                || TempData["SelectNaveIteam"].ToString() == "c++" || TempData["SelectNaveIteam"].ToString() == "java script" || TempData["SelectNaveIteam"].ToString() == "dbms" || TempData["SelectNaveIteam"].ToString() == "css" || TempData["SelectNaveIteam"].ToString() == "ajex"))
                {
                    <a class="nav-link" data-bs-target="#components-nav" data-bs-toggle="collapse" href="#">
                        <i class="bi bi-menu-button-wide"></i><span>Languages</span><i class="bi bi-chevron-down ms-auto"></i>
                    </a>
                }
                else
                {
                    <a class="nav-link collapsed" data-bs-target="#components-nav" data-bs-toggle="collapse" href="#">
                        <i class="bi bi-menu-button-wide"></i><span>Languages</span><i class="bi bi-chevron-down ms-auto"></i>
                    </a>
                }
                <ul id="components-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
                    <li>
                        @if (TempData["SelectNaveIteam"] != null && (TempData["SelectNaveIteam"].ToString() == "java"))
                        {
                            <a class="active" asp-action="GetSelectedLangQ" asp-controller="QuestionsManage" asp-route-QuestionTage="java">
                                <i class="bi bi-circle"></i><span>Java</span>
                            </a>
                        }
                        else
                        {
                            <a  asp-action="GetSelectedLangQ" asp-controller="QuestionsManage" asp-route-QuestionTage="java">
                                <i class="bi bi-circle"></i><span>Java</span>
                            </a>
                        }
                    </li>
                    <li>
                        @if (TempData["SelectNaveIteam"] != null && (TempData["SelectNaveIteam"].ToString() == "c++"))
                        {
                            <a class="active" asp-action="GetSelectedLangQ" asp-controller="QuestionsManage" asp-route-QuestionTage="c++">
                                <i class="bi bi-circle"></i><span>C++</span>
                            </a>
                        }
                        else
                        {
                            <a asp-action="GetSelectedLangQ" asp-controller="QuestionsManage" asp-route-QuestionTage="c++">
                                <i class="bi bi-circle"></i><span>C++</span>
                            </a>
                        }
                    </li>
                    <li>
                        @if (TempData["SelectNaveIteam"] != null && (TempData["SelectNaveIteam"].ToString() == "c#"))
                        {
                            <a class="active" asp-action="GetSelectedLangQ" asp-controller="QuestionsManage" asp-route-QuestionTage="c#">
                                <i class="bi bi-circle"></i><span>C#</span>
                            </a>
                        }
                        else
                        {
                            <a asp-action="GetSelectedLangQ" asp-controller="QuestionsManage" asp-route-QuestionTage="c#">
                                <i class="bi bi-circle"></i><span>C#</span>
                            </a>
                        }
                    </li>
                    <li>
                        @if (TempData["SelectNaveIteam"] != null && (TempData["SelectNaveIteam"].ToString() == "python"))
                        {
                            <a class="active" asp-action="GetSelectedLangQ" asp-controller="QuestionsManage" asp-route-QuestionTage="python">
                                <i class="bi bi-circle"></i><span>Python</span>
                            </a>
                        }
                        else
                        {
                            <a asp-action="GetSelectedLangQ" asp-controller="QuestionsManage" asp-route-QuestionTage="python">
                                <i class="bi bi-circle"></i><span>Python</span>
                            </a>
                        }
                    </li>
                    <li>
                        @if (TempData["SelectNaveIteam"] != null && (TempData["SelectNaveIteam"].ToString() == "html"))
                        {
                            <a class="active" asp-action="GetSelectedLangQ" asp-controller="QuestionsManage" asp-route-QuestionTage="html">
                                <i class="bi bi-circle"></i><span>HTML</span>
                            </a>
                        }
                        else
                        {
                            <a  asp-action="GetSelectedLangQ" asp-controller="QuestionsManage" asp-route-QuestionTage="html">
                                <i class="bi bi-circle"></i><span>HTML</span>
                            </a>
                        }
                    </li>
                    <li>
                        @if (TempData["SelectNaveIteam"] != null && (TempData["SelectNaveIteam"].ToString() == "css"))
                        {
                            <a class="active" asp-action="GetSelectedLangQ" asp-controller="QuestionsManage" asp-route-QuestionTage="css">
                                <i class="bi bi-circle"></i><span>CSS</span>
                            </a>
                        }
                        else
                        {
                            <a asp-action="GetSelectedLangQ" asp-controller="QuestionsManage" asp-route-QuestionTage="css">
                                <i class="bi bi-circle"></i><span>CSS</span>
                            </a>
                        }
                    </li>
                    <li>
                        @if (TempData["SelectNaveIteam"] != null && (TempData["SelectNaveIteam"].ToString() == "java script"))
                        {
                            <a class="active" asp-action="GetSelectedLangQ" asp-controller="QuestionsManage" asp-route-QuestionTage="java script">
                                <i class="bi bi-circle"></i><span>Java Script</span>
                            </a>
                        }
                        else
                        {
                            <a asp-action="GetSelectedLangQ" asp-controller="QuestionsManage" asp-route-QuestionTage="java script">
                                <i class="bi bi-circle"></i><span>Java Script</span>
                            </a>
                        }
                    </li>
                </ul>
            </li><!-- End Components Nav -->   
            
            @if (SignInManager.IsSignedIn(User))
            {
                @if (TempData["SelectNaveIteam"] != null && TempData["SelectNaveIteam"].ToString() == "Profile")
                {
                    <li class="nav-item">
                        <a class="nav-link" asp-action="UserProfile" asp-controller="UserAccount">
                            <i class="bi bi-person"></i>
                            <span>Profile</span>
                        </a>
                    </li><!-- End Profile Page Nav -->
                }
                else
                {
                    <li class="nav-item">
                        <a class="nav-link collapsed" asp-action="UserProfile" asp-controller="UserAccount">
                            <i class="bi bi-person"></i>
                            <span>Profile</span>
                        </a>
                    </li>
                    <!-- End Profile Page Nav -->
                }
            }
        </ul>

    </aside><!-- End Sidebar-->

    <main id="main" class="main">
        <partial name="_Notification" />
        @RenderBody()
    </main>   

    @*<footer class="border-top footer text-muted">
         <div class="container">
            &copy; 2023 - CodeHub - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
        </footer>*@
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>  
    
    <script src="~/js/main.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
